.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title-water{
	color: #4DB7FE;
}


.lmj-logo {
	height: 85px;
	width: 85px;
}



@media screen and (max-width:767px) {
	.lmj-banner{
		padding: 15px;
	}
}