.lmj-cart {
	color: white;
	background-color: #4DB7FE;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart-closed {
	padding: 1%;
	width: 300px;
}

.lmj-cart-closed > button {
	color: black;
}

Button a{
	text-decoration: none;
	color: #fff;
}
.cart-list{
	margin-top: 2%;
	position: fixed;
}
.button-part{
	display: grid;
}

@media screen and (max-width:767px) {
	.cart-list{
		margin-top: 10%;
	}
	.cart-list h2{
		font-size: 10px;
	}
	.cart-list ul{
		font-size: xx-small;
	}
	.button-part a{
		font-size: xx-small;
	}
	button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-1ane4u2-MuiButtonBase-root-MuiButton-root {
		font-size: xx-small;
	}
}