.lmj-cart {
	color: white;
	background-color: #4DB7FE;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart-closed {
	padding: 1%;
	width: 350px;
}

.lmj-cart-closed > button {
	color: black;
}

.cart-list{
	margin-top: 5%;
}

.cart-list-product{
	font-size: 14px;
}
.button-part{
	display: grid;
}

.button-part Button{
	margin-bottom: 2%;
}

@media screen and (max-width:767px) {
	.cart-list{
		margin-top: 10%;
	}
	.cart-list h2{
		font-size: 18px;
	}
	.cart-list div{
		font-size: xx-small;
	}
	.button-part Button{
		font-size: xx-small;
	}
}